<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <meta property="og:title" content="{{ if .IsPage }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  {{ with .Site.Params.themecolor }}<meta name="theme-color" content="{{ . }}" />{{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Params.title_image }}<meta property="og:image" content="{{ . }}">{{ end }}
  {{ if (or (.IsPage) (.IsSection)) }}
    <meta property="og:type" content="article" />
    {{ with .Site.Params.facebook }}<meta property="og:article:author" content="https://facebook.com/{{ . }}" />{{ end }}
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    {{ range .Params.tags }}<meta property="og:article:tag" content="{{ . }}" />{{ end }}
    <meta name="description" content="{{ .Params.description }}" />
  {{ else }}
    <meta property="og:type" content="website" />
  {{ end }}

  <title>{{ if (or (.IsPage) (.IsSection)) }}{{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css" />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/apple-touch-icon.png" />
  {{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />{{ end }}
</head>
<body>
    <header class="global-header"  style="background-image:url({{ if isset .Params "image" }}{{ .Params.image }} {{ else }} /images/bg.jpg {{ end }})">
    <section class="header-text">
      <h1><a href="{{ .Site.BaseURL }}">Infiniti EX35</a></h1>
      <div class="header-block">
        {{ with .Site.Params.subtitle }}
        <div class="tag-line">
          {{ . }}
        </div>
        {{ end }}
        <div class="cost-line">
          {{ $fundCount := 0 }}
          {{ range .Site.Pages }}
            {{ $fund := .Params.total_cost }}
            {{ with $fund }}
              {{ $fundCount = add $fundCount $fund }}
            {{ end }}
          {{ end }}
          Текущая cтоимость владения (без учета бензина):<br/>
          <a id="cost-explained-link" onclick="toggleCostExplainedBlock()"><strong>{{ $fundCount }} руб.</strong></a>
          <div id="cost-explained" style="display:none;">
            <table class="table">
              {{ $technicalFluidsFundCount := 0 }}
              {{ $tiresFundCount := 0 }}
              {{ $partsFundCount := 0 }}
              {{ $insuranceFundCount := 0 }}
              {{ $transportationFundCount := 0 }}
              {{ $incidentFundCount := 0 }}
              {{ $taxFundCount := 0 }}
              {{ $workFundCount := 0 }}
              {{ range .Site.Pages }}
                {{ $fund := .Params.technical_fluids }}
                {{ with $fund }}
                  {{ $technicalFluidsFundCount = add $technicalFluidsFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Технические жидкости</td>
                <td>{{ $technicalFluidsFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.tires }}
                {{ with $fund }}
                  {{ $tiresFundCount = add $tiresFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Шины</td>
                <td>{{ $tiresFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.parts }}
                {{ with $fund }}
                  {{ $partsFundCount = add $partsFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Запчасти</td>
                <td>{{ $partsFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.insurance }}
                {{ with $fund }}
                  {{ $insuranceFundCount = add $insuranceFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Страховка</td>
                <td>{{ $insuranceFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.transportation }}
                {{ with $fund }}
                  {{ $transportationFundCount = add $transportationFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Транспортировка</td>
                <td>{{ $transportationFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.incident }}
                {{ with $fund }}
                  {{ $incidentFundCount = add $incidentFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Происшествия</td>
                <td>{{ $incidentFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.tax }}
                {{ with $fund }}
                  {{ $taxFundCount = add $taxFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Налоги</td>
                <td>{{ $taxFundCount }} руб.</td>
              </tr>
              {{ range .Site.Pages }}
                {{ $fund := .Params.work }}
                {{ with $fund }}
                  {{ $workFundCount = add $workFundCount $fund }}
                {{ end }}
              {{ end }}
              <tr>
                <td>Работы</td>
                <td>{{ $workFundCount }} руб.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {{ partial "link.html" . }}
      {{ if .IsPage }}
      <a href="{{ .Site.BaseURL }}" class="btn-header btn-back hidden-xs">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        &nbsp;Домой
      </a>
      {{ end }}
      {{ with .OutputFormats.Get "RSS" }}
      <a href="{{ .RelPermalink }}" class="btn-header btn-subscribe hidden-xs">
        <i class="fa fa-rss" aria-hidden="true"></i>
        &nbsp;Подписка
      </a>
      {{ end }}
    </section>
  </header>
  <main class="container">
